.type-1914 {
  box-sizing: border-box;
  outline: none;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}
.type-1914 a {
  color: #333;
}
.type-1914 a:hover {
  color: #fe9c00;
}
.type-1914 .sidebar-post .widget {
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.type-1914 .sidebar-post .widget .widget-title {
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
}
.type-1914 .sidebar-post ul {
  padding: 0 20px;
  list-style: none;
}
.type-1914 .sidebar-post ul li {
  margin-bottom: 10px;
  text-align: right;
  color: #999;
}
.type-1914 .sidebar-post .category1 {
  margin: 15px 0;
}
.type-1914 .sidebar-post .widget_categories li a {
  float: left;
  color: #333;
  text-decoration: none;
}
.type-1914 .sidebar-post .widget_categories li a:hover {
  color: #fe9c00;
}
.type-1914 .sidebar-post .title-post-tab {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 20px;
  position: relative;
}
.type-1914 .sidebar-post .title-post-tab ul {
  margin: 0;
  padding: 0;
}
.type-1914 .sidebar-post .title-post-tab ul li {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 25px;
}
.type-1914 .sidebar-post .title-post-tab li.active a {
  color: #fe9c00;
}
.type-1914 .sidebar-post .title-post-tab a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.type-1914 .sidebar-post .title-post-tab a:hover {
  color: #fe9c00;
}
.type-1914 .sidebar-post .title-post-tab ::after {
  content: "";
  font-family: fontawesome;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.type-1914 .sidebar-post .zoom-image-thumb {
  overflow: hidden;
}
.type-1914 .sidebar-post .zoom-image-thumb a {
  width: 100px;
  display: block;
}
.type-1914 .sidebar-post .zoom-image-thumb img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.type-1914 .sidebar-post .zoom-image-thumb:hover img {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
}
.type-1914 .sidebar-post .post-tab-info {
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}
.type-1914 .sidebar-post .post-tab-info h3 {
  max-height: 40px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  margin: -5px 0 5px;
}
.type-1914 .sidebar-post .post-tab-info span {
  color: #999;
  font-size: 12px;
}
.type-1914 .sidebar-post .post-tab-info a {
  text-decoration: none;
}
.type-1914 .sidebar-post .list-post-tab li {
  border-bottom: 1px solid #e5e5e5;
  display: table;
  padding: 20px 0;
  width: 100%;
}
.type-1914 .sidebar-post .list-post-tab li:last-child {
  margin-bottom: 0;
  border: medium none;
}
