.type-1923 .frameswiper {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.type-1923 .frameswiper .swiper-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.type-1923 .frameswiper .swiper-container .swiper-wrapper {
  display: flex;
}
.type-1923 .frameswiper .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-1923 .frameswiper .swiper-container .swiper-button-next {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%,0);
}
.type-1923 .frameswiper .swiper-container .swiper-button-next:hover i {
  color: #ff0;
}
.type-1923 .frameswiper .swiper-container .swiper-button-prev {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%,0);
}
.type-1923 .frameswiper .swiper-container .swiper-button-prev:hover i {
  color: #ff0;
}
@media (max-width: 500px) {
  .type-1923 .product-collateral p {
    font-size: 11px;
  }
  .type-1923 .detail_right p {
    font-size: 11px;
  }
}
.type-1923 .detail_right .product-name h2 {
  font-weight: 700;
  margin: 0 0 15px;
}
.type-1923 .detail_right .star-rating {
  line-height: 32px;
  font-size: 1.25em;
  cursor: pointer;
}
.type-1923 .detail_right .product-order {
  height: 14px;
  line-height: 14px;
  margin-left: -10px;
  padding-left: 10px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.type-1923 .detail_right .product-code label {
  color: #666;
  font-weight: 400;
  margin: 0;
}
.type-1923 .detail_right .product-code span {
  color: #999;
}
.type-1923 .detail_right .product-stock label {
  color: #666;
  font-weight: 400;
  margin: 0;
}
.type-1923 .detail_right .product-stock span {
  color: #40b631;
}
.type-1923 .detail_right .info-price {
  border-top: 1px solid #e8e8e8;
  margin-top: 20px;
  padding-top: 10px;
}
.type-1923 .detail_right .info-price span {
  font-size: 30px;
  margin-right: 18px;
  display: inline-block;
  color: #ED321E;
}
.type-1923 .detail_right .info-price label {
  margin: 0 40px 0 0;
  text-transform: uppercase;
}
.type-1923 .detail_right .attr-info {
  background: #fafafa none repeat scroll 0 0;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  padding: 30px 20px;
}
.type-1923 .detail_right .attr-info .variations {
  margin-bottom: 10px;
}
.type-1923 .detail_right .attr-info .variations .attr-product {
  margin-bottom: 10px;
}
.type-1923 .detail_right .attr-info .variations label {
  margin-top: 4px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  width: 56px;
  display: inline-block;
  max-width: 100%;
}
.type-1923 .detail_right .attr-info .variations .attr-color {
  vertical-align: top;
  display: inline-block;
  max-width: 240px;
  position: relative;
  width: 100%;
  z-index: 99;
}
.type-1923 .detail_right .attr-info .variations select {
  height: 28px;
  border: 1px solid #e8e8e8;
  background: #fff;
  margin: 0;
  width: 100%;
  display: inline-block;
}
.type-1923 .detail_right .attr-info .variations .quantity .sub {
  width: 6%;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 2px 0;
}
.type-1923 .detail_right .attr-info .variations .quantity .add {
  width: 6%;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 2px 0;
}
.type-1923 .detail_right .attr-info .variations .quantity input {
  text-align: center;
  width: 170px;
  border: 1px solid #e8e8e8;
}
.type-1923 .detail_right .attr-info .variations .alt {
  text-transform: uppercase;
  background: #fe9c00 none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 35px;
  line-height: 8px;
  margin: 10px 0 0 60px;
  max-width: 240px;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-out 0s;
  border-radius: 0;
  position: relative;
  font-weight: 400;
  border: none;
}
.type-1923 .detail_right .attr-info .variations .alt:hover {
  background: #ED321E;
  color: #fff;
}
.type-1923 .detail_right .attr-info .variations .alt:before {
  content: '\f07a';
  font-family: fontawesome;
  position: absolute;
  top: 10px;
  left: 50px;
}
.type-1923 .detail_right .attr-info .product-social-extra {
  margin: 10px 0 0 60px;
}
.type-1923 .detail_right .attr-info .product-social-extra a {
  background: #fff;
  border: 1px solid #e8e8e8;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 6px;
  text-align: center;
  transition: all 0.3s ease-out 0s;
  width: 35px;
  cursor: pointer;
  color: #333;
}
.type-1923 .detail_right .attr-info .product-social-extra a:hover {
  color: #fe9c00;
}
.type-1923 .detail_right .attr-info .product-social-extra .single-product-share {
  margin-top: 8px;
}
.type-1923 .product-view {
  margin: 0px;
  padding: 1px 5px;
}
.type-1923 .product-view .detail_left {
  text-align: center;
}
.type-1923 .product-view .detail_left img {
  width: 100%;
}
.type-1923 .product-view .detail_left li {
  list-style: none;
}
.type-1923 .product-view .detail_left .click {
  cursor: pointer;
  width: 100px;
}
.type-1923 .product-view .detail_left .product-img-box .image img {
  height: 417px;
  width: 347px;
  transition: 0.3s all ease;
  margin-left: auto;
  margin-right: auto;
  cursor: crosshair;
}
.type-1923 .product-view .detail_left .product-img-box .image:hover img {
  transform: scale(1.1) !important;
}
.type-1923 .detail_right {
  text-align: left;
  letter-spacing: 0.5px;
  color: #000;
  padding: 15px;
}
.type-1923 .detail_right .product-name {
  margin: 0 0 15px;
}
.type-1923 .detail_right .product-name h1 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  line-height: 1.35;
}
.type-1923 .detail_right .product-name #prev-next-links {
  float: right;
  margin-top: -26px;
  width: 50px;
}
.type-1923 .detail_right .product-name #prev-next-links a {
  color: #d9d9d9;
  text-decoration: none;
}
.type-1923 .product-collateral {
  margin-top: 50px;
  margin-bottom: 50px;
}
.type-1923 .product-collateral p {
  margin: 10px 0;
}
.type-1923 .product-collateral ul {
  list-style: none;
  margin-bottom: 0;
}
.type-1923 .product-collateral ul.tabbernav_product2 {
  padding: 0;
  width: 100%;
  overflow: hidden;
  clear: both;
}
.type-1923 .product-collateral ul.tabbernav_product2 li {
  background: #ffffff;
  float: left;
  margin: 0 -1px -1px 0;
}
.type-1923 .product-collateral ul.tabbernav_product2 li a.selected {
  background: #262626;
  color: #fff;
  display: block;
}
.type-1923 .product-collateral ul.tabbernav_product2 li a:hover {
  color: #fff;
  background: #FE9C00;
}
.type-1923 .product-collateral ul.tabbernav_product2 li .descr {
  margin-left: 0;
}
.type-1923 .product-collateral ul.tabbernav_product2 li a {
  text-transform: uppercase;
  background: transparent;
  font-weight: bold;
  color: #000;
  display: block;
  font-size: 13px;
  padding: 12px 20px;
  margin: 0 6px;
  text-decoration: none;
}
.type-1923 .product-collateral .tabs {
  padding: 25px 0px;
  background: #FFF;
  border-bottom: 1px solid #d9d9d9;
}
.type-1923 .product-collateral .tabs box-tags {
  margin: 0;
}
.type-1923 .product-collateral .tabs box-tags .note {
  margin: 3px 0 0;
  padding: 0 0 0px;
  font-size: 12px;
}
.type-1923 .product-collateral .tabs .form-add label {
  display: block;
  margin: 0 0 5px;
}
.type-1923 .product-collateral .tabs .form-add .input-box {
  float: left;
  margin-bottom: 6px;
}
.type-1923 .product-collateral .tabs .form-add .input-box .input-text {
  width: 300px;
  margin-right: 5px;
  padding: 3px;
}
.type-1923 .product-collateral .tabs .form-add button2 {
  overflow: visible;
  width: auto;
  border: 0;
  padding: 1px 5px;
  margin: 0;
  background: transparent;
  cursor: pointer;
}
.type-1923 .product-collateral .tabs .form-add button2 span {
  display: block;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  line-height: 22px;
  padding: 3px 12px;
  text-align: center;
  white-space: nowrap;
  color: #000;
  text-decoration: none;
  border: 1px solid #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.type-1923 .product-collateral .tabs .form-add button2 span:hover {
  background: #ED321E;
  color: #fff;
}
.type-1923 .product-collateral .tabs .review h2 {
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 10px;
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #000;
}
.type-1923 .product-collateral .tabs .review form {
  display: inline;
}
.type-1923 .product-collateral .tabs .review form fieldset {
  border: 0;
}
.type-1923 .product-collateral .tabs .review form fieldset h3 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
.type-1923 .product-collateral .tabs .review form fieldset h4 {
  font-size: 14px;
  font-weight: normal;
}
.type-1923 .product-collateral .tabs .review form fieldset #product-review-table {
  max-width: 180px;
  margin: 15px 0;
}
.type-1923 .product-collateral .tabs .review form fieldset .data-table {
  width: 100%;
  border: 1px solid #d9d9d9;
}
.type-1923 .product-collateral .tabs .review form fieldset .data-table th {
  padding: 8px 8px;
  font-weight: bold;
}
.type-1923 .product-collateral .tabs .review form fieldset .data-table td {
  padding: 8px 8px;
}
.type-1923 .product-collateral .tabs .review form fieldset thead th {
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
  padding: 8px 8px;
  color: #808080;
  white-space: nowrap;
  vertical-align: middle;
}
.type-1923 .product-collateral .tabs .review form fieldset ul {
  padding: 1px 5px;
}
.type-1923 .product-collateral .tabs .review form fieldset .form-list li {
  margin: 0 0 8px;
}
.type-1923 .product-collateral .tabs .review form fieldset .form-list li label {
  float: left;
  font-weight: normal;
  position: relative;
  z-index: 0;
  padding-bottom: 5px;
}
.type-1923 .product-collateral .tabs .review form fieldset .form-list li .input-box {
  max-width: 500px;
  width: 100%;
  display: block;
  clear: both;
}
.type-1923 .product-collateral .tabs .review form fieldset .form-list li input.input-text {
  width: 250px;
  padding: 3px;
}
.type-1923 .product-collateral .tabs .review form fieldset .form-list li textarea {
  width: 95%;
  height: 10em;
  padding: 3px;
}
.type-1923 .product-collateral .tabs .review form .buttons-set {
  clear: both;
  margin: 20px 0 0;
  padding: 5px;
  text-align: right;
}
.type-1923 .product-collateral .tabs .review form .buttons-set .button1 {
  background: none;
  margin-right: 68px;
  border: 1px solid black;
}
.type-1923 .product-collateral .tabs .review form .buttons-set .button1:hover {
  background: #ED321E;
  color: #fff;
}
.type-1923 .product-collateral .tabs .review form .buttons-set .button1 span {
  display: block;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.type-1923 .clear {
  clear: both;
}
.type-1923 .nav-pills>li.active>a,
.type-1923 .nav-pills li a:focus {
  color: #fff !important;
  font-weight: bold;
  background-color: #FE9C00 !important;
}
