.type-1908 {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background: #fff;
}
.type-1908 .sidebar-shop {
  box-sizing: border-box;
  outline: none;
}
.type-1908 .sidebar-shop .widget {
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
  padding: 22px 20px;
}
.type-1908 .sidebar-shop .widget .widget-filter {
  border: 0;
  margin-bottom: 0;
}
.type-1908 .sidebar-shop .widget ul {
  display: block;
  padding: 0 2px;
  margin: 15px 0;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
.type-1908 .sidebar-shop .widget ul li {
  margin-bottom: 10px;
}
.type-1908 .sidebar-shop .widget ul li a {
  color: #666;
  padding-left: 20px;
  background: url("../images/un-check.jpg") no-repeat left center;
}
.type-1908 .sidebar-shop .widget .widget-title {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 12px;
  position: relative;
  text-transform: uppercase;
  padding: 0;
  border-bottom: 0;
}
.type-1908 .sidebar-shop .widget .widget-title::after {
  width: 13px;
  content: "";
  height: 13px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/sub.png") no-repeat center center;
}
.type-1908 .sidebar-shop .widget .widget-title:active::after {
  background: url("../images/grid/add.png") no-repeat center center;
}
.type-1908 .sidebar-shop .box-filter {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
.type-1908 .sidebar-shop .box-filter:last-child {
  border: medium none;
  margin: 0;
}
.type-1908 .sidebar-shop .range-filter {
  color: #666;
}
.type-1908 .sidebar-shop .range-filter form {
  padding: 0;
  margin: 15px 0;
}
.type-1908 .sidebar-shop .range-filter #amount {
  display: inline-block;
  margin-right: 4px;
  vertical-align: top;
}
.type-1908 .sidebar-shop .range-filter #amount span {
  border: 1px solid #e8e8e8;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 59px;
}
.type-1908 .sidebar-shop .range-filter .btn-filter {
  background: #FE9C00 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  height: 30px;
  width: 72px;
}
.type-1908 .sidebar-shop .range-filter #slider-range {
  background: #e8e8e8 none repeat scroll 0 0;
  border: medium none;
  height: 1px;
  margin: 30px 0;
}
.type-1908 .sidebar-shop .range-filter #slider-range .ui-slider-handle.ui-state-default.ui-corner-all {
  background: #ff9900 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  height: 16px;
  margin: 0 -8px;
  top: -8px;
  width: 16px;
}
.type-1908 .sidebar-shop .range-filter #slider-range .ui-widget-header {
  background: #ff9900 none repeat scroll 0 0;
}
.type-1908 .sidebar-shop .list-color-filter {
  margin: 0 0 15px;
}
.type-1908 .sidebar-shop .list-color-filter a {
  border: 1px solid #ccc;
  display: inline-block;
  height: 22px;
  margin-bottom: 4px;
  margin-right: 7px;
  width: 22px;
  color: #333;
}
.type-1908 .sidebar-shop .list-color-filter a:hover {
  border: 1px solid #ED321E;
}
.type-1908 .sidebar-shop .list-color-filter a:active {
  background: url("../images/grid/check.jpg") no-repeat right bottom;
}
.type-1908 .sidebar-shop .list-color-filter .color-black {
  background-color: #000 !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-red {
  background-color: #cd0c20 !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-pink {
  background-color: #e66054 !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-blue {
  background-color: #107a8e !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-yellow {
  background-color: #f3d213 !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-brown {
  background-color: #502006 !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-green {
  background-color: #a7bc93 !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-violet {
  background-color: #d0b7cc !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-blue-sky {
  background-color: #b9cad2 !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-orange {
  background-color: #FE9C00 !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-gray {
  background-color: #b4b3ae !important;
}
.type-1908 .sidebar-shop .list-color-filter .color-red-blood {
  background-color: #bd0316 !important;
}
.type-1908 .ui-slider {
  position: relative;
}
.type-1908 .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.type-1908 input,
.type-1908 input:focus,
.type-1908 input:hover {
  outline: none;
}
@media (min-width: 992px) {
  .type-1908 .col-md-3 {
    width: 26%;
  }
}
