.type-1919 {
  box-sizing: border-box;
  outline: none;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}
.type-1919 .protect-video {
  margin-top: 95px;
}
.type-1919 ul {
  padding: 0;
  list-style: none;
}
.type-1919 p {
  line-height: 24px;
}
.type-1919 img {
  width: 364px;
  height: 278px;
}
.type-1919 .about-full-protec h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 40px;
  text-transform: uppercase;
}
.type-1919 .about-full-protec ul {
  margin: 0;
  max-width: 450px;
  position: relative;
}
.type-1919 .about-full-protec li {
  display: table;
  margin-bottom: 75px;
  position: relative;
  width: 100%;
}
.type-1919 .about-full-protec li:after {
  background: #e5e5e5 none repeat scroll 0 0;
  content: "";
  height: 50px;
  left: 30px;
  margin-top: 12px;
  position: absolute;
  top: 100%;
  width: 1px;
}
.type-1919 .about-full-protec li:last-child {
  margin: 0;
}
.type-1919 .about-full-protec .afterstraight:after {
  display: none;
}
.type-1919 .about-full-protec span {
  display: inline-block;
  background: #fe9c00 none repeat scroll 0 0;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  width: 60px;
}
.type-1919 .about-full-protec p {
  display: table-cell;
  padding-left: 25px;
  vertical-align: middle;
}
.type-1919 .about-full-protec .new-user-guide {
  color: #3a49b8;
  display: block;
  margin-top: 30px;
  text-decoration: none;
}
.type-1919 .about-full-protec .new-user-guide:hover {
  color: #fe9c00;
}
.type-1919 figure {
  max-width: 100%;
  height: auto;
}
