.type-1910 .home-title-wrapper .row {
  margin: 0;
}
.type-1910 .home-title-wrapper .row .view-shop {
  float: right;
}
.type-1910 .home-title-wrapper .row .view-sp {
  padding-bottom: 25px;
}
.type-1910 .home-title-wrapper .title_text {
  margin: 20px 0 18px;
}
.type-1910 .home-title-wrapper .title_text h2 {
  font-weight: 700;
  margin: 0;
  padding: 0 15px;
  text-transform: uppercase;
}
.type-1910 .home-title-wrapper .circle-info-wrapper {
  border: 1px solid #e8e8dd;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up {
  background-color: #fff;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover {
  background: none;
  padding: 0px;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img {
  position: relativfe;
  display: inline-block;
  overflow: hidden;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like {
  text-align: center;
  position: absolute;
  bottom: 65px;
  width: 100%;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .search {
  color: #fff;
  background: rgba(0,0,0,0.3) none repeat scroll 0 0;
  margin-top: -38px;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .search i.fa-heart:hover {
  color: #fe9c00;
  background: rgba(0,0,0,0.5) none repeat scroll 0 0;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .search i.fa-toggle-on:hover {
  color: #fe9c00;
  background: rgba(0,0,0,0.5) none repeat scroll 0 0;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .search i.fa-search:hover {
  color: #fe9c00;
  background: rgba(0,0,0,0.5) none repeat scroll 0 0;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .cart {
  color: black;
  font-size: 16px;
  background: #fe9c00 none repeat scroll 0 0;
  color: #fff;
  display: block;
  padding: 8px 14px;
  overflow: hidden;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .cart i {
  color: #fe9c00;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .search .fa {
  padding: 10px;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .search .fa-heart:hover {
  color: green;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .search .fa-toggle-on:hover {
  color: green;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .search .fa-search:hover {
  color: green;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img .like .cart i:hover {
  color: green;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img img {
  border: 1px solid ;
  margin-top: 15px;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img p {
  text-decoration: line-through;
}
.type-1910 .home-title-wrapper .circle-info-wrapper figure.imghvr-push-up figcaption.image-hover .bor_img a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.type-1910 .home-title-wrapper .circle-info-wrapper .product-info {
  padding: 20px;
}
.type-1910 .home-title-wrapper .circle-info-wrapper .product-info h3.title-product {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 8px;
}
.type-1910 .home-title-wrapper .circle-info-wrapper .product-info h3.title-product a {
  color: #333;
}
.type-1910 .home-title-wrapper .circle-info-wrapper .product-info .info-price span.Price-amount {
  color: #ED321E;
}
.type-1910 .home-title-wrapper .circle-info-wrapper .product-info .product-rating {
  margin-top: 9px;
}
.type-1910 .home-title-wrapper .circle-info-wrapper .product-info .product-rating span.stars {
  color: #999;
  font-size: 12px;
}
.type-1910 .home-title-wrapper .circle-info-wrapper .product-info .product-rating span.value-s {
  color: #999;
  font-size: 12px;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-order {
  float: right;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-order form.woocommerce-ordering select.orderby {
  height: 30px;
  width: 163px;
  border: 1px solid #e8e8e8;
  position: relative;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-order form.woocommerce-ordering span img.icon-img {
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 0px;
  right: -10px;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-per-page select.orderby {
  height: 30px;
  width: 110px;
  border: 1px solid #e8e8e8;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav {
  float: right;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav span.page-numbers-1 {
  background: #ff9933;
  color: #fff;
  border-left: 1px solid #e8e8e8;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 11px;
  text-transform: uppercase;
  vertical-align: top;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav a.page-numbers-2 {
  border: 1px solid #e8e8e8;
  color: #666;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 11px;
  text-transform: uppercase;
  vertical-align: top;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav a.page-numbers-2:hover {
  background: #ff9933;
  color: #fff;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav span.page-numbers-dots {
  font-weight: bold;
  color: #666;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav a.page-numbers-5 {
  border: 1px solid #e8e8e8;
  color: #666;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 11px;
  text-transform: uppercase;
  vertical-align: top;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav a.page-numbers-5:hover {
  background: #ff9933;
  color: #fff;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav a.page-numbers-6 {
  border: 1px solid #e8e8e8;
  color: #666;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 11px;
  text-transform: uppercase;
  vertical-align: top;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav a.page-numbers-6:hover {
  background: #ff9933;
  color: #fff;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav a.page-numbers-next i {
  border: 1px solid #e8e8e8;
  color: #666;
  display: inline-block;
  font-size: 18px;
  height: 28px;
  line-height: 28px;
  padding: 0 11px;
  text-transform: uppercase;
  vertical-align: top;
}
.type-1910 .home-title-wrapper .sort-pagi-bar .product-pagi-nav a.page-numbers-next i:hover {
  background: #ff9933;
  color: #fff;
}
@media (max-width: 902px) {
  .type-1910 .sort-pagi-bar {
    text-align: center;
    width: 100%;
  }
  .type-1910 .sort-pagi-bar .product-pagi-nav {
    display: inline-flex;
  }
}
@media (max-width: 568px) {
  .type-1910 .sort-pagi-bar {
    padding-left: 50px;
  }
}
